select count(*) as result_count
FROM {{ schema_name }}.votes AS v,
  {{ schema_name }}.posts AS p,
  {{ schema_name }}.badges AS b,
  {{ schema_name }}.users AS u
WHERE p.Id = v.PostId
  AND u.Id = p.OwnerUserId
  AND u.Id = b.UserId
  AND p.Score <= 22
  AND u.Reputation >= 1
