select count(*) as result_count
FROM {{ schema_name }}.comments AS c,
  {{ schema_name }}.votes AS v,
  {{ schema_name }}.badges AS b,
  {{ schema_name }}.users AS u
WHERE u.Id = c.UserId
  AND u.Id = v.UserId
  AND u.Id = b.UserId
  AND c.Score = 0
  AND v.BountyAmount >= 0
  AND v.BountyAmount <= 300
  AND v.CreationDate >= CAST('2010-07-29 00:00:00' AS timestamp)
  AND u.UpVotes >= 0
  AND u.UpVotes <= 18
